{% extends "base.html" %}

{% block content %}
    <h1>Taylor Olivia Harvey</h1>
    <p1>This is the little introduction section of the resume la la la.</p1>

    <article>
      <h2>Experience</h2>
      <p2>Location of future timeline.</p2>
    </article>

    <article>
      <h2>Skills</h2>
      <p2>Skills buttons.</p2>
    </article>

    <article>
      <h2>Education</h2>
      <p2>University of Rochester with dates, programs studied and university logo.</p2>
    </article>
{% endblock %}
