<html>
<head>
    <meta charset="utf-8">
    <title>Resume - Taylor Harvey</title>
    <meta name="viewport" content="width=device-width, intial-scale=1">
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
  <div class="container" id="header">
    <h1>Taylor Olivia Harvey</h1>
    <p>This is the little introduction section of the resume.</p>
    <p><img src="static/images/taylor1.jpg" alt="Taylor"></p>
    <ul class="contact-info">
      <li>+34 625 742 545</li>
      <li><a href="https://www.linkedin.com/in/taylor-harvey-6aa04b59/">Linkedin</a></li>
      <li><a href= "https://github.com/tayharvey">Github</a></li>
    </ul>
  </div>

  <div class="container">
    <table>
      <h2>Experience</h2>
      <p>Location of future timeline.</p>
    </table>
  </div>

  <div class='container'>
    <h2>Skills</h2>
    <ul class="skills">
      <li><span>Shell</span></li>
      <li><span>HTML</span></li>
      <li><span>CSS</span></li>
      <li><span>Python</span></li>
      <li><span>Writing</span></li>
      <li><span>Teaching</span></li>
    </ul>
  </div>

  <div class='container'>
    <table>
      <h2>Education</h2>
      <div class="universityname">
        <p>University of Rochester</p>
      </div>
      <p>Bachelor of Arts in English and Minor in International Relations &emsp; &emsp; &emsp; May 2015</p>
      <ul class="education">
        <li>Overall GPA: 3.67/4.00; Dean's List for Six of Ten Eligible Semesters.</li>
        <li>Annual George Eastman Young Leaders Scholarship</li>
        <li>Proposal for independent multi-disciplinary study of German Identity: Post 1945, incorporating courses and an independent study. Developed, submitted and had proposal accepted; yielding entry into University's prestigious Take Five Scholars Program which provides a tuition-free fifth year.</li>
        <li>Applied for and was admitted to English Honors Program. Thesis on women in war was presented in final year.</li>
      </ul>
      <p><img src="static/images/uofrlogo.jpg" alt="University of Rochester"></p>
      <div class="universityname">
        <p>Advanced Studies in England</p>
      </div>
      <p>Semester abroad in Literature &emsp; &emsp; &emsp; Autumn 2013</p>
      <ul class="education">
        <li>Studied Gothic literature, the works of Jane Austen, post World War II British fiction, and 18th Century British Women's History through courses taught by Oxford faculty.</li>
      <p><img src="static/images/ase.jpg" alt="Advanced Studies in England"></p>
    </table>
  </div>
</body>
</html>
