{% extends "base.html" %}

{% block content %}
<head>
    <meta charset="utf-8">
    <title>Resume - Taylor Harvey</title>
    <meta name="viewport" content="width=device-width, intial-scale=1">
</head>

<body>
    <div>
        <h1>Taylor Olivia Harvey</h1>
          <p1>This is the little introduction section of the resume la la la.</p1>
          <img src="taylor.JPG" alt="">
          <hr>
          <p1>+34 625 742 545</p1>
          <hr>
          <p1>Linkedin <a href="https://www.linkedin.com/in/taylor-harvey-6aa04b59/"></p1>
          <hr>
          <p1>Github <a href="https://github.com/tayharvey"></p1>


    </div>

    <div>
      <table>
          <h2>Experience</h2>
          <p2>Location of future timeline.</p2>
      </table>
    </div>

    <div>
      <table>
          <h2>Skills</h2>
          <p2>Skills buttons.</p2>
      </table>
    </div>

    <div>
      <table>
          <h2>Education</h2>
          <p2>University of Rochester with dates, programs studied and university logo.</p2>
      </table>
    </div>

</body>
{% endblock %}
